* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.black-line {
    height: 20px;
    background: black;
}

body {
    background-color: rgb(194, 202, 202);
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

/* HEADER */

.logo {
    width: 150px;
    margin: 5px 10px;
}

.plage-header {
    background-color: white;
}

/* MAIN */

/* HEADER */
.content {
    padding: 20px;
}

.container-card {
    background-color: white;
    padding: 10px 30px;
    border-radius: 5px 5px 0px 0px;
    margin: 10px 160px;
}

.first-span {
    display: inline-block;
    height: 19px;
    background-color: rgba(37, 114, 221, 0.78);
    border-radius: 5px;
    font-size: 12px;
    padding: 7px;
    text-align: center;
    line-height: 5px;
}

.second-span {
    display: inline-block;
    height: 21px;
    border-radius: 5px;
    font-size: 12px;
    padding: 6px;
    text-align: center;
    line-height: 5px;
    border-color: rgba(155, 154, 154, 0.999);
    border-style: solid;
}

/* MAIN */

.second-content {
    background-color: white;
    padding: 10px 30px;
    border-radius: 0px 0px 5px 5px;
    margin: -9px 160px;
}

.title {
    font-size: 14px;
    padding: 10px 0px;
}

.spunta {
    display: inline-block;
    width: 15px;
    height: 17px;
    color: green;
    border-radius: 50%;
    border-style: solid;
    font-size: 11px;
    margin-right: 10px;
    text-align: center;
}

.spunta.second {
    
}

.editorial {
    display: inline-block;
    width: 60px;
    height: 17px;
    border-radius: 50px;
    font-size: 11px;
    padding: 6px;
    text-align: center;
    line-height: 5px;
    background-color: aqua;
    color: white;
}

.editorial.goals {
    background-color: violet; 
}

.today {
    font-size: 11px;
    padding: 21px 0px;
}

.contenitore{
    padding: 8px 0px;
    font-size: 14px;
}

#spunta-egea {
    display: inline-block;
    width: 15px;
    height: 17px;
    color: red;
    border-radius: 50%;
    border-style: solid;
    font-size: 20px;
    margin-right: 10px;
    text-align: center;
    line-height: 10px;
}

.mobile {
    display: inline-block;
    width: 60px;
    height: 17px;
    border-radius: 50px;
    font-size: 11px;
    padding: 6px;
    text-align: center;
    line-height: 5px;
    background-color: orange;
    color: white;
}